doctype html
html(lang="en")
    head
        include head.pug
        title Editar Sala 
    body 
        div(id="cuerpo") 
            h2 Editar Sala #{id}
            form(action="/salas/"+id method="post" enctype="application/x-www-form-urlencoded") 
                fieldset(class="flex two-1200 third-1200")
                    label(for="nombresala") Nombre de la Sala  
                    input(type="text" name="nombresala" placeholder="Nombre de la sala") 
                    button(type="submit") Guardar 
                        i(class="far fa-save")
            br
            a(href="/salas") Regresar 
