doctype html
html(lang="en")
    head
        include head.pug
        title Inicio
    body 
        div(id="cuerpo")
            h2 Salas de Juntas
            a(href="/salas")
                button(class="button") Control de Salas
            br
            a(href="/reservaciones")
                button(class="button") Control de Reservaciones
