doctype html
html(lang="en")
    head
        include head.pug
        title Salas de Juntas
    body 
        div(id="cuerpo")
            h2 Control de Salas de Juntas
            form(action="/salas" method="post" enctype="application/x-www-form-urlencoded") 
                fieldset(class="flex two-1200 third-1200")
                    label(for="nombresala") Nombre de la Sala  
                    input(type="text" name="nombresala" placeholder="Nombre de la sala") 
                    button(type="submit") Agregar Sala 
                        i(class="fas fa-plus-square") 
            br
            div(class="half-1200")
                hr
                table(class="primary")
                    tr 
                        th 
                        th Nombre de la sala
                        th Disponibilidad
                        th 
                    - array.forEach( e => {
                    tr 
                        td #{e.idsala}
                        td #{e.nombre}
                        - if (e.disponibilidad == 0){
                        td Disponible 
                        - }else{
                        td No disponible
                        - }
                        td 
                            div(class="flex two")
                                a(href="/salas/borrar/" + e.idsala)
                                    button(class="error") 
                                        i(class="fas fa-trash-alt")
                                a(href="/salas/editar/" + e.idsala)
                                    button(class="success") 
                                        i(class="far fa-edit")
                    - })
            a(href="/") Regresar 